Lines that do not start with #highlight are ignored

#highlight {line} {fg0} {text 0} {class 0}
#highlight {lines} {fg1,bg1} {text 1} {class 1}

#highlight {beginswith} {fg2} {text 2} {class 2}
#highlight {startswith} {fg3,bg3} {text 3} {class 3}

#highlight {regex} {fg4} {text 4} {class 4}
#highlight {regexp} {fg5, bg5} {text 5} {class 5}

#highlight {string} {fg6} {text 6} {class 6}
#highlight {strings} {fg7, bg7} {text 7} {class 7}
